<template>
  <div class="auditlog__item"
       :class="{'auditlog__item--create': auditlog.action === 'created',
               'auditlog__item--update': auditlog.action === 'updated',
               'auditlog__item--delete': auditlog.action === 'deleted'}">
    <div class="audilog__info">
      <span class="auditlog__item--time time time--create">{{auditlog.timestamp}} </span>
      <span class="auditlog__item--operation">  {{auditlog.action}}</span>
      <span class="auditlog__item--target">  {{auditlog.ref_orig}} </span>
      <span class="auditlog__item--title">  {{auditlog.ref_name}}</span>
    </div>
    <div v-if="auditlog.action === 'updated'" class="auditlog__item--update--change">
      <div class="auditlog__item--update--change--element">
          <span>
            Changed {{auditlog.affected}} from <span class="text-blue">
            {{auditlog.change_from}} </span> to <span class="text-blue">
            {{auditlog.change_to}}</span>
          </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuditLogInfo',
  props: {
    auditlog: {
      required: true,
    },
  },
};
</script>


<style lang="scss">
  .auditlog__item--title {
    font-weight: bold;
  }

</style>
