<template>
  <div class="description-card__item category__item">
    <div class="description-card__info">
      <div class="description-card__info--title">
        <router-link :to="{
            name: 'Category',
            params: {
              categoryName: category.name,
            }
          }" class="description-card__info--title--link">{{category.name}}</router-link>
      </div>

      <div v-if="category.description && showDescription"
           class="description-card__other description-card__description">
        {{category.description}}
      </div>
      <div class="description-card__other">
        <div class="description-card__percentage">
          <div class="description-card__percentage--bar"
               v-bind:style="{width: category.percentage + '%'}">
          </div>
        </div>
        <div v-if="category.percentage" class="description-card__percentage--value">
          {{category.percentage.toFixed(2)}}%
        </div>
      </div>
      <div class="description-card__info-timestamp">
        <div class="description-card__info-timestamp--create">
          created on <span class="time time--create">{{category.created_at}}</span>
        </div>
        <div class="description-card__info-timestamp--update">
          Updated on <span class="time time--update">{{category.modified_at}}</span>
        </div>
        <div v-if="category.meta" class="description-card__info-timestamp--meta">
          <span v-for="(meta, i) in JSON.parse(category.meta)" :key='i' class="metadata">
            <span class="metadata-key">{{meta.metadataKey}}</span>:
            <span v-if="meta.metadataType === 'Enum'" class="metadata-value">
                {{meta.metadataValue.join(', ')}}
            </span>
            <span v-if="meta.metadataType !== 'Enum'" class="metadata-value">
                {{meta.metadataValue}}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="description-card__rank">
      <div class="description-card__rank--value">{{category.count}}</div>
      <div class="description-card__rank--text"><em>Instances</em></div>
    </div>
  </div>

</template>

<script>
export default {
  props: {
    category: {
      required: true,
    },
    showDescription: {
      required: true,
    },
  },
  name: 'CategoryInfo',
};
</script>

<style lang="scss">
</style>
