<template>
  <div class="description-card__item">
    <div class="description-card__info">
      <div class="description-card__info--title">
        <router-link :to="{
            name: 'Favorite',
            params: {
              categoryName: favorite.category,
              rank: favorite.rank,
            }
          }" class="description-card__info--title--link">{{favorite.title}}
        </router-link>
        <router-link :to="{
              name: 'Category',
              params: {
                categoryName: favorite.category,
              }
            }" class="description-card__info--category category__tag">
          {{favorite.category}}
        </router-link>
      </div>
      <div v-if="favorite.description && showDescription"
           class="description-card__other description-card__description">
        {{favorite.description}}
      </div>
      <div class="description-card__info-timestamp">
        <div class="description-card__info-timestamp--create">
          created on <span class="time time--create">{{favorite.created_at}}</span>
        </div>
        <div class="description-card__info-timestamp--update">
          Updated on <span class="time time--update">{{favorite.modified_at}}</span>
        </div>
        <div v-if="favorite.meta" class="description-card__info-timestamp--meta">
          <span v-for="(meta, i) in JSON.parse(favorite.meta)" :key='i' class="metadata">
            <span class="metadata-key">{{meta.metadataKey}}</span>:
            <span v-if="meta.metadataType === 'Enum'" class="metadata-value">
                {{meta.metadataValue.join(', ')}}
            </span>
            <span v-if="meta.metadataType !== 'Enum'" class="metadata-value">
                {{meta.metadataValue}}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="description-card__rank"
         :class="{
                   'description-card__rank--1': favorite.rank===1,
                   'description-card__rank--2': favorite.rank===2,
                   'description-card__rank--3': favorite.rank===3}">
      <span class="description-card__rank--value">{{favorite.rank}}</span>
    </div>
  </div>

</template>

<script>
export default {
  name: 'FavoriteInfo',
  props: {
    favorite: {
      required: true,
    },
    showDescription: {
      type: Boolean,
      required: true,
    },
  },
};
</script>


<style lang="scss">
  .description-card__rank {

    &--1 {
      background-color: $color-secondary-light !important;
    }
    &--2 {
      background-color: $color-grey-dark !important;
    }
    &--3 {
      background-color: $color-bronze !important;
    }
  }
</style>
