<template>
    <div>
        <notifications group="auth" position="bottom right"/>
        <form @submit.prevent="authenticate" class="form">
            <div class="form__element">
                <input v-model="username"
                       class="form__input" id="username"
                       placeholder="Username"
                       required>
                <label for="username" class="form__label">
                    <svg class="form__icon">
                        <use xlink:href='../assets/sprite.svg#icon-user'></use>
                    </svg>
                </label>
            </div>

            <div class="form__element">
                <input v-model="password"
                       type="password"
                       class="form__input"
                       id="pass"
                       placeholder="Password"
                       required>
                <label for="pass" class="form__label">
                    <svg class="form__icon">
                        <use xlink:href='../assets/sprite.svg#icon-key'></use>
                    </svg>
                </label>
            </div>
            <button type="submit" @click='authenticate' class="btn btn--green">
                Sign In
            </button>
        </form>
    </div>
</template>


<script>
import { EventBus } from '@/utils';

export default {
  name: 'signIn',
  data() {
    return {
      username: '',
      password: '',
    };
  },
  methods: {
    authenticate() {
      this.$store.dispatch('login', {
        username: this.username,
        password: this.password,
      })
        .then(() => {
          this.$router.push({ name: 'Favorites' });
        });
    },
  },
  mounted() {
    EventBus.$on('failedAuthentication', () => {
      this.$notify({
        group: 'auth',
        type: 'error',
        text: 'Wrong password or username.',
      });
    });
  },
  beforeDestroy() {
    EventBus.$off('failedAuthentication');
  },
};
</script>

<style lang="scss">
    @import "../scss/main.scss";

</style>
