<template>
  <div>
    <div v-if="failed" class="form__error">
      <span>{{errorMsg}}</span>
    </div>
    <form @submit.prevent='register' class="form">
      <div class="form__element">
        <input v-model="user"
               class="form__input"
               id="user"
               placeholder="User name"
               required>
        <label for="user" class="form__label">
          <svg class="form__icon">
            <use xlink:href='../assets/sprite.svg#icon-user'></use>
          </svg>
        </label>
      </div>
      <div class="form__element">
        <input v-model="email"
               type="email"
               class="form__input"
               id="email"
               placeholder="Email"
               required>
        <label for="email" class="form__label">
          <svg class="form__icon">
            <use xlink:href='../assets/sprite.svg#icon-email'></use>
          </svg>
        </label>
      </div>

      <div class="form__element">
        <input v-model="password"
               type="password"
               class="form__input"
               id="pass"
               placeholder="Password"
               required>
        <label for="pass" class="form__label">
          <svg class="form__icon">
            <use xlink:href='../assets/sprite.svg#icon-key'></use>
          </svg>
        </label>
      </div>

      <div class="form__element">
        <input v-model="repeatPassword"
               type="password"
               class="form__input"
               id="veri-pass"
               placeholder="Verify password"
               required>
        <label for="veri-pass" class="form__label">
          <svg class="form__icon">
            <use xlink:href='../assets/sprite.svg#icon-key'></use>
          </svg>
        </label>
      </div>
      <button type="submit" class="btn btn--green">Sign up</button>
    </form>
  </div>
</template>

<script>
import { EventBus } from '@/utils';

export default {
  name: 'signUp',
  data() {
    return {
      user: '',
      email: '',
      password: '',
      repeatPassword: '',
      errorMsg: '',
      failed: false,
    };
  },
  methods: {
    register() {
      if (this.password !== this.repeatPassword) {
        this.failed = true;
        this.errorMsg = "Password don't match";
        return;
      }
      this.$store.dispatch('register',
        {
          username: this.user,
          email: this.email,
          password: this.password,
        })
        .then(() => {
          this.$router.push({ name: 'Favorites' });
        });
    },
  },
  mounted() {
    EventBus.$on('failedRegistering', (msg) => {
      this.failed = true;
      this.errorMsg = 'Registration Failed! Change username or email';
      console.log(msg);
    });
  },
  beforeDestroy() {
    EventBus.$off('failedRegistering');
  },
};
</script>

<style lang="scss">
  @import "../scss/main.scss";
  .required {
    border-bottom: 2px solid red;
  }
</style>
