<template>
  <div class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <router-link :to="{name: 'Favorites'}" class="navigation__link">
          Favorites
        </router-link>
      </li>
      <li class="navigation__item">
        <router-link :to="{name: 'Categories'}" class="navigation__link">
          Categories
        </router-link>
      </li>
      <li class="navigation__item">
        <router-link :to="{name: 'AuditLogs'}" class="navigation__link">
          Logs
        </router-link>
      </li>
    </ul>
    <div class="navigation__user">
      <div class="navigation__user--name">{{username}}</div>
      <div @click='logout' class="navigation__user--logout">Log out</div>
    </div>
  </div>
</template>


<script>

export default {
  name: 'Navigation',
  computed: {
    username() {
      return this.$store.getters.user;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$route.push({ name: 'home' });
    },
  },
};
</script>


<style lang="scss" scoped>
  @import '../scss/main.scss';

  a.router-link-active {
    color: $color-primary !important;
    background-color: rgba($color-grey,.4);
    &::after,
    &::before {
      transform: scaleX(1);
    }
  }

  .navigation__link:visited {
    color: $color-black;
  }
</style>
