*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 50%  // 7px => 7/16 == 43.75%
  }

  @include respond(big-desktop) {
    font-size: 75%  // 12px => 12/16 == 75%
  }
}

body {
  box-sizing: border-box;
}
