body {
  font-size: $default-font-size;
  font-family: 'Montserrat', sans-serif;
}

.large-text {
  font-size: 3.5rem;
  font-weight: 700;
}

.small-text {
  font-size: 1.8rem;
  font-weight: 300;
}

.text-blue {
  color: $color-primary;
}
