
.showIt {
  display: flex !important;
  visibility: visible !important;
}

.flexColumn {
  flex-direction: column !important;
}

.hideIt {
  display: none !important;
  visibility: hidden !important;
}
