.auditlog {
  font-size: 1.5rem;
  width: 26%;
  margin-left: 5rem;

  @include respond(tab-port) {
    width: 75%;
    margin-left: 0;
  }

  font-family: 'Lato', sans-serif;
  &__list {
    list-style: none;
  }

  @include respond(tab-port) {
    display: none;
    visibility: hidden;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.4rem;
    box-shadow: 0 1px .2rem rgba($color-black,0.1);
    border-radius: 3px;
    margin-bottom: .6rem;
    margin-top: -.5rem;
    position: relative;

    &:hover {
      box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 4px 1px rgba(60,64,67,0.149);
    }
    &--time, &--operation,
    &--target, &--title {
      margin-top: .5rem;
    }
    &--time {
      font-size: 1.2rem;
    }
    &--title {
      transition: all .2s;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 3px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
    }

    &--create {
      &::after,
      &::before {
        background-color: $color-green;
      }
    }
    &--delete {
      &::after,
      &::before {
        background-color: red;
      }
    }
    &--update {
      &::after,
      &::before {
        background-color: $color-primary;
      }

      &--change {
        padding: 1.2rem 1.2rem 0;

        &--element {
          padding: .4rem;
          margin-bottom: .3rem;
          border-radius: 3px;
          border: 1px solid $color-primary;
          font-size: 1.4rem;
        }
      }
    }
  }
  &__more {
    margin-top: 3rem;
    &--btn {
      &,
      &:link,
      &:visited{
        text-decoration: none !important;
        color: $color-black;
      }
      background: $color-grey;
      padding: 1rem 1.2rem;
      border-radius: 3px;
      cursor:pointer;
      transition: all .2s;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
