.btn {
    &,
    &:link,
    &:visited {
        border: 2px solid white;
        padding: 1.6rem 5rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        border-radius: 100px;
        position: relative;
        z-index: 1;
        backface-visibility: hidden;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        z-index: -1;
        opacity: 1;
        transition: all .2s;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    &--transparent {
        color: white;
        background-color: transparent;

        &::after{
            background-color: transparent;
        }
    }
    &--green {
        color: white;
        background-image:
                linear-gradient(to right bottom,
                        $color-primary-light, $color-green);

        &::after {
            background-image:
                    linear-gradient(to right bottom,
                            $color-primary-light, $color-green);
        }
    }
}
