.category {

  &__tag {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    padding: .3rem 1rem;
    background-color: rgba($color-secondary-dark,.7);
    border-radius: 20px;
    cursor: pointer;
    &,
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
    }
  }
}
