.description-card {
  width: 55%;
  font-family: 'Lato', sans-serif;

  @include respond(tab-port) {
    width: 70%;
  }
  @include respond(phone) {
    width: 85%;
  }

  &__header {
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
  }
  &__title {
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-size: 1.8rem;
    font-weight: bold;

    @include flex-center;
  }
  &__title &__more {
    margin-left: 2rem;
    @include respond(tab-port) {
      margin-left: .5rem;
    }
  }
  &__more {
    font-size: 1.6rem;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: $color-green;
    color: $color-white;
    border-radius: 3px;
    cursor: pointer;  display: flex !important;

  }
  &__list {
    flex: 1;
    list-style: none;
    @include flex-center;
    flex-direction: column;
  }
  &__item {
    width: 100%;
    margin-bottom: .4rem;
    @include flex-center;
    padding-left: 2.3rem;
    border-radius: 5px;
    box-shadow: 0 1px .5rem rgba($color-black,0.1);
    justify-content: space-between;
    transition: all .2s;


    &:hover {
      box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    }
  }
  &__info {
    flex: 9;
    &--title {
      font-size: 1.7rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 1.6rem 0;
      transition: all .2s;

      &--link {
        &,
        &:link,
        &:visited {
          text-decoration: none;
          color: inherit;
        }
        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }


  }
  &__info-timestamp {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
    margin-top: -.8rem;
    &--update, &--create, &--meta {
      margin-top: .8rem;
    }
    &--update {
      margin-left: 1.5rem;
    }

    &--meta {
      margin-left: 3rem;
    }
  }
  &__rank {
    flex: 1;
    align-self: stretch;
    @include flex-center;
    background-color: $color-grey;
    flex-direction: Column;
    &--value {
      font-size: 1.8rem;
    }
    &--text {
      font-size: 1.1rem;
    }
  }

  &__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  &__percentage {
    position: relative;
    margin-top: 0;
    width: 80%;
    height: 3px;
    background-color: $color-grey;

    &--bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      background-color: $color-secondary-dark;
    }

    &--value {
      color: $color-secondary-dark;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
