.form {
  &__element {
    position: relative;
    margin: 1.5rem;
  }
  &__input {
    font-size: 1.6rem;
    font-family: inherit;
    width: 30rem;
    padding: 1.6rem 5rem;
    background-color: rgba($color-primary-light, .1);
    border: none;
  }
  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
  }
  &__icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  &__button {
    margin-top: 1.6rem;
  }
  &__error {
    font-size: 1.5rem;
    margin: .5rem;
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    padding: .5rem;
    display: inline-block;
  }
  &__success {
    font-size: 1.6rem;
    margin: .8rem;
    border: 1px solid mediumseagreen;
    border-radius: 3px;
    color: mediumseagreen;
    padding: .8rem;
    display: inline-block;
  }

  &__button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    }
    &:active {
      box-shadow: 0 1px .5rem rgba($color-black,0.1);
    }
    &--blue {
      background-color: $color-primary;
      color: $color-white;
    }
    &--orange {
      background-color: $color-secondary-light;
      color: $color-white
    }
    &--red {
      background-color: #dd0031;
      color: $color-white;
    }
    &--green {
      background-color: $color-green;
      color: $color-white;
    }
  }
}

.form-favorite .form__element {
  display: flex;
  justify-content: center;
}
.form-favorite .form__input {
  padding: 1rem;
  width: 100%;
}

.form-toggle {
  margin: 1rem 3rem;
  @include flex-center;

  &__radio {
    display: none;
  }
  &__label {
    font-size: 1.4rem;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &::after {
      left: -1.3rem;
      width: 1.7rem;
      height: 1.7rem;
      border: 3px solid $color-primary;
    }
    &::before {
      left: -1.38rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: $color-primary;
      opacity: 0;
      transition: all .2s;
    }
  }

  &__radio:checked+&__label::before {
    opacity: 1;
  }
}

.form__toggler {
  padding: 1rem 1.5rem;
  background-color: $color-green;
  color: $color-white;
  border-radius: 3px;
  margin: 1rem 1rem 3rem;
  cursor: pointer;

  display: none;
  visibility: hidden;

  @include respond(tab-port){
    display: block;
    visibility: visible;
  }
}

.form__element-group {
  border: 1px solid $color-secondary-dark;
  border-radius: 5px;
  @include flex-center;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  padding: .5rem 0;
}
