.metadata {
  padding: .3rem;
  margin: .2rem;
  border-radius: 3px;
  box-shadow: 0 1px .2rem rgba($color-black,0.1);
}
.metadata-key{
  color: $color-primary-light;
  font-weight: bold;
}

.metadata-value {
  color: $color-secondary-light;
}

.metadata-delete {
  color: #dd0031;
  cursor: pointer;
  padding: .2rem;
  font-size: 1.8rem;
}