.multiselect {
  width: 100%;
  height: 100%;
  align-self: stretch;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 1px;
  box-shadow: 0 1px 8px rgba($color-black,0.1);
  z-index: 1;
  position: relative;

  &__tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: none;
  }
  &__single {
    font-size: 1.5rem;
  }
  &__content-wrapper {
    border: none;
    box-shadow: 0 1px 8px rgba($color-black,0.1);
    max-width: 150%;
    max-height: 20rem;
  }
}
