.navigation {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;

  margin-bottom: 3rem;
  border-bottom: 1px solid $color-grey-light;
  border-top: 1px solid $color-grey-light;
  box-shadow: 0 1px .2rem rgba($color-black,0.1);
  padding-right: 2rem;

  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    margin-right: 2rem;
    height: 7rem;
    font-weight: lighter;

    @include respond(phone) {
      margin-right: 1rem;
      height: 5rem;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    @include flex-center;

    transition: all .2s;
    position: relative;

    @include respond(phone) {
      padding: 0 .7rem;
    }

    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-dark;
    }

    &::after,
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transition: all .2s;
      background-color: $color-primary;
      z-index: 2;
    }
    &::after{
      top: -1px;
      right: 0;
      transform-origin: right;
    }

    &::before {
      bottom: -1px;
      left: 0;
      transform-origin: left;
    }
    &:hover {
      color: $color-primary;
      background-color: rgba($color-grey,.4);
    }
    &:hover::after,
    &:hover::before{
      transform: scaleX(1);
    }
  }
  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(phone) {
      flex-direction: column;
    }

    &--name {
      margin-right: 2rem;
    }
    &--logout {
      transition: all .2s;
      cursor: pointer;
      &:hover {
        color: $color-secondary-light;
      }
    }
  }
}
