.search {
  padding: 1rem 1.5rem;
  width: 100%;
  @include flex-center;
  align-items: flex-start;

  margin-bottom: 2rem;

  &--sort__box,
  &--filter__box {
    margin-right: .3rem;
    width: 15%;
  }
  &--sort__box {
    height: 5.2rem;
    @include respond(tab-port) {
      display: none;
      visibility: hidden;
      width: 70%;
    }
  }
  &--filter__box {
    align-self: stretch;
    @include respond(tab-port) {
      display: none;
      visibility: hidden;
      width: 70%;
    }
  }
  .search__box {
    width: 25%;
    position: relative;
    @include respond(tab-port) {
      display: none;
      visibility: hidden;
      width: 70%;
    }
  }
  .search__input {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    width: 100%;
    height: 3rem;
    padding: 1.1rem 5rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba($color-black,0.1);
  }

  .search__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
  .search__icon {
    width: 1.9rem;
    height: 1.9rem;
    fill: $color-primary;
  }
}

.search__toggle {

  height: 5rem;
  margin: 1rem 1.5rem;
  box-shadow: 0 1px .2rem rgba($color-black,0.1);
  display: none;
  visibility: hidden;

  @include respond(tab-port) {
    @include flex-center;
    visibility: visible;
  }
  &--list {
    @include flex-center;
  }
  &--item {
    @include flex-center;
    height: 100%;
    margin: 0 1rem;
  }
  &--label {
    height: 100%;
    padding: .7rem;
    font-size: 1.6rem;
    color: $color-grey-dark;
    transition: all .2s;
    border-right: $color-grey-dark;

    &:hover {
      color: $color-primary;
    }
  }
  &--radio {
    display: none;
  }
  &--radio:checked + &--label {
    color: $color-primary;
  }
}
