.time{
  margin-left: .2rem;
  margin-right: .3rem;
  border-radius: 3px;
  padding: .1rem .2rem;
  &--create {
    border: 1px solid rgba($color-green, .8);
    color: $color-green;
  }
  &--update {
    border: 1px solid rgba($color-primary, .8);
    color: $color-primary;
  }
  &--delete {
    border: 1px solid red;
    color: red;
  }
}
