$color-primary: #2998ff;
$color-primary-light: #59abf8;
$color-primary-dark: #5643fa;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-green: #28b485;

$color-gold: #FFD700;
$color-bronze: #CD7F32;

$color-grey: #eee;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;
