.content {
  @include flex-center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-main {
  width: 100%;
  @include flex-center;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.separator {
  text-align: left;
  padding: 1.5rem 0;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid $color-grey;
  border-bottom: 2px solid $color-primary;
  width: 100%;
}
