<template>
  <div class="content">
    <div class="container">
      <TheNavBar></TheNavBar>
      <div class="container-main">
        <div class="favorites__header description-card">
          <div class="description-card__header favorites__header">
            <div class="description-card__title favorites__title">
              <span>Audit logs</span>
            </div>
          </div>
          <ul class="description-card__list auditlog__list">
            <AuditLogInfo v-for="(auditlog, idx) in auditlogs"
                          :key="idx" :auditlog="auditlog">
            </AuditLogInfo>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import AuditLogInfo from '@/components/AuditLogInfo.vue';
import TheNavBar from '@/components/TheNavBar.vue';

export default {
  name: 'Categories',
  components: {
    AuditLogInfo,
    TheNavBar,
  },
  computed: {
    auditlogs() {
      return this.$store.state.auditlogs;
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      this.$store.dispatch('loadAuditLogs');
    },
  },
};
</script>

<style lang="scss">
  .auditlog__list .auditlog__item {
    flex: 1;
    justify-self: stretch;
    width: 85%
  }
</style>
