<template>
  <div class="content">
    <div class="container">
      <TheNavBar></TheNavBar>
      <div class="search__toggle">
        <ul class="search__toggle--list">
          <li class="search__toggle--item">
            <input v-model='filterBy' type="radio"
                   class="search__toggle--radio search__toggle--radio" id="sort-radio"
                   value="Sort by">
            <label for="sort-radio" class="search__toggle--label">Sort by</label>
          </li>
          <li class="search__toggle--item">
            <input v-model='filterBy' type="radio"
                   class="search__toggle--radio" id="search-radio"
                   value="Search">
            <label for="search-radio" class="search__toggle--label">Search</label>
          </li>
        </ul>
      </div>
      <div class="search">
        <div class="search--sort__box" :class="{'showIt': filterBy==='Sort by'}">
          <multiselect
            v-model="sortMethod"
            @input="filterCategories"
            :options="sortMethods"
            placeholder="Sort by"
            label="name"
            track-by="name"></multiselect>
        </div>
        <div class="search__box" :class="{'showIt': filterBy==='Search'}">
          <input v-model.lazy="search" v-on:change="filterCategories"
                 class="search__input" id="search_id">
          <label for="search_id" class="search__label">
            <svg class="search__icon">
              <use xlink:href='../assets/sprite.svg#icon-search1'></use>
            </svg>
          </label>
        </div>
      </div>
      <div @click='toggleCategoryForm' class="form__toggler">
        {{showFormHelper || "Add category"}}</div>
      <div class="container-main">
        <div :class="{'hideIt': showForm, 'showIt': !showForm, 'flexColumn': true}"
             class="favorites__header description-card">
          <div class="description-card__header favorites__header">
            <div class="description-card__title favorites__title">
              <span>Your categories</span>
              <div @click='changeOrder'
                   class="description-card__more favorites__more">
                {{order}}
              </div>
            </div>
            <div class="description-card__title favorites__title">
              <span>Favorites: {{favoritesCount}} Categories: {{categoriesCount}}</span>
            </div>
          </div>
          <ul class="description-card__list category__list">
            <CategoryInfo v-for="(category, idx) in categories"
                          :key="idx" :category="category" :showDescription="false">
            </CategoryInfo>
          </ul>
        </div>
        <div :class="{'hideIt': !showForm && showFormHelper, 'showIt': showForm}"
             class="auditlog">
          <form @submit.prevent='submitCategory' class="form form-favorite">
            <div class="form__element">
              <input v-model="newCategory.name" class="form__input" id="title"
                     placeholder="Category name" required>
              <label for="title" class="form__label"></label>
            </div>
            <div class="form__element">
                <textarea v-model="newCategory.description" class="form__input" id="description"
                          rows="4" placeholder="Description">
                </textarea>
              <label for="description" class="form__label"></label>
            </div>
            <div v-for="(meta, index) in metadata" :key='index' class="form__element-group ">
              <div class="form__element">
                <input v-model.lazy="meta.metadataKey"
                       v-on:change="uniqueKeyCheck(index)"
                       class="form__input" id="metadata-key"
                       placeholder="Metadata key">
                <label for="metadata-key" class="form__label"></label>
              </div>
              <div class="form__element">
                <multiselect
                  v-model="meta.metadataType"
                  :options="metadataTypes"
                  placeholder="Value type"
                  required>
                </multiselect>
              </div>
              <div v-if="meta.metadataType==='Number'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-num" type='number'
                       placeholder="Number">
                <label for="metadata-num" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Text'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-text"
                       placeholder="Text">
                <label for="metadata-text" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Date'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-date"
                       type='text' onfocus="(this.type='date')"
                       placeholder="Date">
                <label for="metadata-date" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Enum'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-enum"
                       placeholder="A, B, C">
                <label for="metadata-enum" class="form__label"></label>
              </div>
              <div @click='removeMetadata(index)' class="metadata-delete">
                &cross;
              </div>
            </div>
            <div class="form__element">
              <div @click='addMetadata' class="form__button form__button--green">
                Add Metadata &plusdo;
              </div>
            </div>
            <div class="form__element">
              <button type='submit' class="form__button form__button--blue">
                Add Category &check;
              </button>
              <div @click='resetCategoryForm' class="form__button form__button--orange">
                Reset</div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import CategoryInfo from '@/components/CategoryInfo.vue';
import TheNavBar from '@/components/TheNavBar.vue';

import metadata from '@/mixins/metadata';
import loader from '@/mixins/loader';

export default {
  name: 'Categories',
  components: {
    Multiselect,
    CategoryInfo,
    TheNavBar,
  },
  data() {
    return {
      filterBy: '',
      order: 'desc',
      showForm: false,
      showFormHelper: '',
      sortMethod: { name: 'Update time', value: 'modified_at' },
      search: '',
      newCategory: {
        name: '',
        description: '',
      },
    };
  },
  mixins: [metadata, loader],
  computed: {
    sortMethods() {
      return this.$store.state.baseSortMethods.concat([{
        name: 'Count', value: 'fav_count',
      }]);
    },
  },
  methods: {
    loadData() {
      this.$store.dispatch('loadCategories');
      this.$store.dispatch('loadAuditLogs');
    },
    resetCategoryForm() {
      this.newCategory = {
        name: '',
        description: '',
        metadata: '',
      };
    },
    submitCategory() {
      const metadata = this.metadata.filter(
        meta => meta.metadataKey && meta.metadataValue,
      );
      metadata.forEach((meta) => {
        const re = /\s*(?:;|$)\s*/;
        if (meta.metadataType === 'Enum') {
          meta.metadataValue = meta.metadataValue.split(re);
        }
      });
      const category = {
        name: this.newCategory.name,
        description: this.newCategory.description,
        meta: JSON.stringify(metadata),
      };
      this.$store.dispatch('addNewCategory', category)
        .then(() => {
          this.loadData();
        });
    },
    filterCategories() {
      const orderBy = this.sortMethod ? this.sortMethod.value : 'modified_at';
      const search = this.search ? this.search : '&';
      this.$store.dispatch('loadCategories',
        {
          sortMethod: `${orderBy}&${this.order}`,
          search,
        });
    },
    changeOrder() {
      this.order = this.order === 'desc' ? 'asc' : 'desc';
      this.filterCategories();
    },
    toggleCategoryForm() {
      this.showForm = !this.showForm;
      this.showFormHelper = this.showForm ? 'Cancel' : 'Add Category';
    },
  },
};
</script>

<style lang="scss">
  .form__element {
    flex-wrap: wrap;
  }

</style>
