<template>
  <div class="content">
    <div class="container">
      <TheNavBar></TheNavBar>

      <div @click='toggleForm' class="form__toggler">
        {{showFormHelper || "Edit category"}}</div>
      <div class="container-main">
        <div :class="{'hideIt': showForm, 'showIt': !showForm, 'flexColumn': true}"
             class="favorites__header description-card">
          <ul class="description-card__list">
            <CategoryInfo :category="category" :showDescription="true"></CategoryInfo>
            <div class="description-card__title favorites__title separator">
              <span>Favorites of this category</span>
            </div>
            <FavoriteInfo v-for="(favorite, idx) in favorites" :key="idx"
                          :favorite="favorite" :showDescription="false">
            </FavoriteInfo>
            <div class="description-card__title favorites__title separator">
              <span>Audit logs on category</span>
            </div>
            <ul class="description-card__list auditlog__list">
              <AuditLogInfo v-for="(auditlog, idx) in auditlogs"
                            :key="idx" :auditlog="auditlog">
              </AuditLogInfo>
            </ul>
          </ul>
        </div>
        <div :class="{'hideIt': !showForm && showFormHelper, 'showIt': showForm}"
             class="auditlog">
          <form @submit.prevent='editCategory' class="form form-favorite">
            <div class="form__element">
              <input v-model="newCategory.name" class="form__input" id="title"
                     placeholder="Category name">
              <label for="title" class="form__label"></label>
            </div>
            <div class="form__element">
                <textarea v-model="newCategory.description" class="form__input" id="description"
                          rows="4" placeholder="Description">
                </textarea>
              <label for="description" class="form__label"></label>
            </div>
             <div v-for="(meta, index) in metadata" :key='index' class="form__element-group">
              <div class="form__element">
                <input v-model.lazy="meta.metadataKey"
                       v-on:change="uniqueKeyCheck(index)"
                       class="form__input" id="metadata-key"
                       placeholder="Metadata key">
                <label for="metadata-key" class="form__label"></label>
              </div>
              <div class="form__element">
                <multiselect
                  v-model="meta.metadataType"
                  :options="metadataTypes"
                  placeholder="Value type"
                  required>
                </multiselect>
              </div>
              <div v-if="meta.metadataType==='Number'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-num" type='number'
                       placeholder="Number">
                <label for="metadata-num" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Text'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-text"
                       placeholder="Text">
                <label for="metadata-text" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Date'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-date"
                       type='text' onfocus="(this.type='date')"
                       placeholder="Date">
                <label for="metadata-date" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Enum'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-enum"
                       placeholder="A, B, C">
                <label for="metadata-enum" class="form__label"></label>
              </div>
              <div @click='removeMetadata(index)' class="metadata-delete">
                &cross;
              </div>
            </div>
            <div class="form__element">
              <div @click='addMetadata' class="form__button form__button--green">
                Add Metadata &plusdo;
              </div>
            </div>
            <div class="form__element">
              <button type='submit' class="form__button form__button--blue">
                Update&check;
              </button>
              <div @click='resetCategoryForm' class="form__button form__button--orange">
                Reset</div>
              <div @click='deleteCategory' class="form__button form__button--red">
                Delete</div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <notifications group="updateFavoriteSuccess" position="bottom right"></notifications>
  </div>
</template>


<script>
import Multiselect from 'vue-multiselect';
import TheNavBar from '@/components/TheNavBar.vue';
import CategoryInfo from '@/components/CategoryInfo.vue';
import FavoriteInfo from '@/components/FavoriteInfo.vue';
import AuditLogInfo from '@/components/AuditLogInfo.vue';

import { fetchCategory } from '@/api';

import { EventBus } from '../utils';

import metadata from '@/mixins/metadata';

export default {
  name: 'Category',
  components: {
    Multiselect,
    CategoryInfo,
    FavoriteInfo,
    AuditLogInfo,
    TheNavBar,
  },
  data() {
    return {
      filterBy: '',
      showForm: false,
      showFormHelper: '',
      category: {},
      favorites: {},
      auditlogs: {},
      newCategory: {
        name: '',
        metadata: '',
        description: '',
      },
    };
  },
  created() {
    this.metadata = [];
    this.loadData();

    EventBus.$on('updateFavoriteSuccess', (msg) => {
      this.$notify({
        group: 'updateFavoriteSuccess',
        type: 'success',
        text: msg,
      });
    });
  },
  mixins: [metadata],
  methods: {
    loadData() {
      return fetchCategory(this.$store.getters.jwt, this.$route.params.categoryName)
        .then((response) => {
          this.category = response.data.category;
          this.favorites = response.data.favorites;
          this.auditlogs = response.data.auditlogs;
          this.metadata = JSON.parse(this.category.meta);
        });
    },
    resetCategoryForm() {
      this.newCategory = {
        name: '',
        description: '',
        metadata: '',
      };
    },
    editCategory() {
      const metadata = this.metadata.filter(
        meta => meta.metadataKey && meta.metadataValue,
      );
      metadata.forEach((meta) => {
        const re = /\s*(?:;|$)\s*/;
        if (meta.metadataType === 'Enum') {
          meta.metadataValue = meta.metadataValue.split(re);
        }
      });
      const category = {
        name: this.category.name,
        new_name: this.newCategory.name,
        new_description: this.newCategory.description || this.category.description,
        meta: JSON.stringify(metadata),
      };
      this.$store.dispatch('editCategory', category)
        .then(() => {
          if (this.newCategory.name) {
            this.$router.replace({
              name: 'Category',
              params: { categoryName: this.newCategory.name },
            });
            this.$router.go(0);
          } else {
            this.loadData();
          }
        });
    },
    deleteCategory() {
      this.$store.dispatch('removeCategory', { name: this.category.name })
        .then(() => {
          this.$router.replace({
            name: 'Categories',
          });
          this.$router.go(0);
        });
    },
    toggleForm() {
      this.showForm = !this.showForm;
      this.showFormHelper = this.showForm ? 'Cancel' : 'edit Category';
    },
  },
};
</script>


<style lang="scss">
  .auditlog__list {
    width: 100%;
  }
  .auditlog__list .auditlog__item {
    flex: 1;
    justify-self: stretch;
    width: 100%
  }
</style>
