<template>
  <div class="content">
    <div class="container">
      <TheNavBar></TheNavBar>
      <div class="search__toggle">
        <ul class="search__toggle--list">
          <li class="search__toggle--item">
            <input v-model='filterBy' type="radio"
                   class="search__toggle--radio search__toggle--radio" id="sort-radio"
                   value="Sort by">
            <label for="sort-radio" class="search__toggle--label">Sort by</label>
          </li>
          <li class="search__toggle--item">
            <input v-model='filterBy' type="radio"
                   class="search__toggle--radio" id="filter-radio"
                   value="Filter">
            <label for="filter-radio" class="search__toggle--label">Filter</label>
          </li>
          <li class="search__toggle--item">
            <input v-model='filterBy' type="radio"
                   class="search__toggle--radio" id="search-radio"
                   value="Search">
            <label for="search-radio" class="search__toggle--label">Search</label>
          </li>
        </ul>
      </div>
      <div class="search">
        <div class="search--sort__box" :class="{'showIt': filterBy==='Sort by'}">
          <multiselect
            v-model="sortMethod"
            @input="filterFavorites"
            :options="sortMethods"
            placeholder="Sort by"
            label="name"
            track-by="name"></multiselect>
        </div>
        <div class="search--filter__box"
             :class="{'showIt': filterBy==='Filter'}">
          <multiselect v-model="filters"
                       @input="filterFavorites"
                       :options="categories"
                       :multiple="true"
                       :close-on-select="false"
                       :clear-on-select="false"
                       :preserve-search="true"
                       placeholder="Filter by"
                       label="name"
                       track-by="name"
                       :preselect-first="false"
                       class="search--filter__multiselect">
            <template slot="selection" slot-scope="{ values, search, isOpen }">
              <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                {{ values.length }} selected
              </span>
            </template>
          </multiselect>
        </div>
        <div class="search__box" :class="{'showIt': filterBy==='Search'}">
          <input v-model.lazy="search" v-on:change="filterFavorites"
                 class="search__input" id="search_id">
          <label for="search_id" class="search__label">
            <svg class="search__icon">
              <use xlink:href='../assets/sprite.svg#icon-search1'></use>
            </svg>
          </label>
        </div>
      </div>
      <div class="container-main">
        <div class="favorites__header description-card">
          <div class="description-card__header favorites__header">
            <div v-if='!addFavorite' class="description-card__title favorites__title">
              <span>Your favorite things</span>
              <div @click='changeOrder'
                   class="description-card__more favorites__more">
                {{order}}
              </div>
            </div>
            <div v-if='!addFavorite' @click='toggleFavoriteForm'
                 class="description-card__more favorites__more">
              Add favorite
            </div>
          </div>
          <ul v-if="!addFavorite" class="description-card__list favorites__list">
            <FavoriteInfo v-for="(favorite, idx) in favorites" :key="idx"
                          :favorite="favorite" :showDescription="false">
            </FavoriteInfo>
          </ul>

          <form @submit.prevent="submitFavorite" v-if="addFavorite" class="form form-favorite">
            <div class="form__element">
              <input v-model="newFavorite.title" class="form__input" id="title"
                     placeholder="Title" required>
              <label for="title" class="form__label"></label>
            </div>
            <div class="form__element">
                <textarea v-model="newFavorite.description" class="form__input" id="description"
                          rows="4" placeholder="Description">
                </textarea>
              <label for="description" class="form__label"></label>
            </div>
            <div class="form__element">
              <multiselect
                v-model="newFavorite.category"
                :options="categories"
                placeholder="Category"
                label="name"
                track-by="name" required>
              </multiselect>
            </div>
            <div class="form__element">
              <input v-model="newFavorite.rank" type="number" class="form__input" id="rank"
                     placeholder="rank" required>
              <label for="rank" class="form__label"></label>
            </div>
            <div v-for="(meta, index) in metadata" :key='index' class="form__element-group">
              <div class="form__element">
                <input v-model.lazy="meta.metadataKey"
                       v-on:change="uniqueKeyCheck(index)"
                       class="form__input" id="metadata-key"
                       placeholder="Metadata key">
                <label for="metadata-key" class="form__label"></label>
              </div>
              <div class="form__element">
                <multiselect
                  v-model="meta.metadataType"
                  :options="metadataTypes"
                  placeholder="Value type"
                  required>
                </multiselect>
              </div>
              <div v-if="meta.metadataType==='Number'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-num" type='number'
                       placeholder="Number">
                <label for="metadata-num" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Text'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-text"
                       placeholder="Text">
                <label for="metadata-text" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Date'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-date"
                       type='text' onfocus="(this.type='date')"
                       placeholder="Date">
                <label for="metadata-date" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Enum'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-enum"
                       placeholder="A, B, C">
                <label for="metadata-enum" class="form__label"></label>
              </div>
              <div @click='removeMetadata(index)' class="metadata-delete">
                &cross;
              </div>
            </div>
            <div class="form__element">
              <div @click='addMetadata' class="form__button form__button--green">
                Add Metadata &plusdo;
              </div>
            </div>
            <div class="form__element">
              <button type='submit' class="form__button form__button--blue">
                Add favorite &plusdo;
              </button>
              <div @click='resetFavoriteForm' class="form__button form__button--orange">
                Reset</div>
              <div @click='toggleFavoriteForm' class="form__button form__button--red">
                Cancel &cross;</div>
            </div>
          </form>
        </div>
        <div class="auditlog">
          <ul class="auditlog__list">
            <AuditLogInfo v-for="(auditlog, idx) in auditlogs" :key="idx" :auditlog="auditlog">
            </AuditLogInfo>
          </ul>
          <div class="auditlog__more">
            <span class="auditlog__more--btn">
              <router-link :to="{name: 'AuditLogs'}">More logs</router-link>
            </span>
          </div>
        </div>
      </div>
    </div>
    <notifications group="success" position="bottom right"></notifications>
    <notifications group="failure" position="bottom right"></notifications>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

import TheNavBar from '@/components/TheNavBar.vue';
import FavoriteInfo from '@/components/FavoriteInfo.vue';
import AuditLogInfo from '@/components/AuditLogInfo.vue';

import metadata from '@/mixins/metadata';
import loader from '@/mixins/loader';

export default {
  name: 'Favorites',
  components: {
    Multiselect,
    FavoriteInfo,
    AuditLogInfo,
    TheNavBar,
  },
  data() {
    return {
      filterBy: '',
      search: '',
      order: 'desc',
      sortMethod: { name: 'Update time', value: 'modified_at' },
      filters: [],
      newFavorite: {
        title: '',
        description: '',
        category: null,
        rank: null,
      },
      addFavorite: false,
    };
  },
  mixins: [metadata, loader],
  computed: {
    auditlogs() {
      return this.$store.state.auditlogs.slice(0, 5);
    },
    sortMethods() {
      return this.$store.state.baseSortMethods.concat([{
        name: 'Rank', value: 'rank',
      }]);
    },
  },
  methods: {
    toggleFavoriteForm() {
      this.addFavorite = !this.addFavorite;
    },
    resetFavoriteForm() {
      this.newFavorite = {
        title: '',
        description: '',
        category: null,
        rank: null,
        metadata: null,
      };
    },
    submitFavorite() {
      const metadata = this.metadata.filter(
        meta => meta.metadataKey && meta.metadataValue,
      );
      metadata.forEach((meta) => {
        const re = /\s*(?:;|$)\s*/;
        if (meta.metadataType === 'Enum') {
          meta.metadataValue = meta.metadataValue.split(re);
        }
      });
      const favorite = {
        title: this.newFavorite.title,
        category: { name: this.newFavorite.category.name },
        description: this.newFavorite.description,
        rank: this.newFavorite.rank,
        meta: JSON.stringify(metadata),
      };
      this.$store.dispatch('addNewFavorite', favorite)
        .then(() => {
          this.filterFavorites();
          this.addFavorite = false;
          this.$notify({
            group: 'success',
            type: 'success',
            text: `Successfully added favorite ${favorite.title}`,
          });
        })
        .catch(() => {
          this.addFavorite = false;
          this.$notify({
            group: 'failure',
            type: 'error',
            text: `Could not add favorite ${favorite.title} <br> You may have a favorite with the same title.`,
          });
        });
    },
    filterFavorites() {
      let filterString = [];
      function appendFilter(item) {
        filterString.push(item.name);
      }
      this.filters.forEach(appendFilter);
      if (filterString.length === 0) {
        filterString = '&';
      } else {
        filterString = filterString.join('&');
      }
      const orderBy = this.sortMethod ? this.sortMethod.value : 'modified_at';
      const search = this.search ? this.search : '&';
      this.$store.dispatch('loadFavorites',
        {
          categories: filterString,
          sortMethod: `${orderBy}&${this.order}`,
          search,
        });
    },
    changeOrder() {
      this.order = this.order === 'desc' ? 'asc' : 'desc';
      this.filterFavorites();
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss">
  .container {
    position: relative;
  }
  .form__button {
    margin: 1rem;
  }
  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-primary;
    }
  }


</style>
