<template>
  <div class="content">
    <div class="container">
      <TheNavBar></TheNavBar>

      <div @click='toggleForm' class="form__toggler">
        {{showFormHelper || "Edit favorite"}}</div>
      <div class="container-main">
        <div :class="{'hideIt': showForm, 'showIt': !showForm, 'flexColumn': true}"
             class="favorites__header description-card">
          <ul class="description-card__list">
            <FavoriteInfo :favorite="favorite" :showDescription="true"></FavoriteInfo>
            <div class="description-card__title favorites__title separator">
              <span>Audit logs on category</span>
            </div>
            <ul class="description-card__list auditlog__list">
              <AuditLogInfo v-for="(auditlog, idx) in auditlogs"
                            :key="idx" :auditlog="auditlog">
              </AuditLogInfo>
            </ul>
          </ul>
        </div>
        <div :class="{'hideIt': !showForm && showFormHelper, 'showIt': showForm}"
             class="auditlog">
          <form @submit.prevent="editFavorite" class="form form-favorite">
            <div class="form__element">
              <input v-model="newFavorite.title" class="form__input" id="title"
                     placeholder="Title">
              <label for="title" class="form__label"></label>
            </div>
            <div class="form__element">
                <textarea v-model="newFavorite.description" class="form__input" id="description"
                          rows="4" placeholder="Description">
                </textarea>
              <label for="description" class="form__label"></label>
            </div>
            <div class="form__element">
              <input v-model="newFavorite.rank" type="number" class="form__input" id="rank"
                     placeholder="rank">
              <label for="rank" class="form__label"></label>
            </div>
            <div v-for="(meta, index) in metadata" :key='index' class="form__element-group ">
              <div class="form__element">
                <input v-model.lazy="meta.metadataKey"
                       v-on:change="uniqueKeyCheck(index)"
                       class="form__input" id="metadata-key"
                       placeholder="Metadata key">
                <label for="metadata-key" class="form__label"></label>
              </div>
              <div class="form__element">
                <multiselect
                  v-model="meta.metadataType"
                  :options="metadataTypes"
                  placeholder="Value type"
                  required>
                </multiselect>
              </div>
              <div v-if="meta.metadataType==='Number'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-num" type='number'
                       placeholder="Number">
                <label for="metadata-num" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Text'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-text"
                       placeholder="Text">
                <label for="metadata-text" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Date'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-date"
                       type='text' onfocus="(this.type='date')"
                       placeholder="Date">
                <label for="metadata-date" class="form__label"></label>
              </div>
              <div v-if="meta.metadataType==='Enum'" class="form__element">
                <input v-model="meta.metadataValue"
                       class="form__input" id="metadata-enum"
                       placeholder="A, B, C">
                <label for="metadata-enum" class="form__label"></label>
              </div>
              <div @click='removeMetadata(index)' class="metadata-delete">
                &cross;
              </div>
            </div>
            <div class="form__element">
              <div @click='addMetadata' class="form__button form__button--green">
                Add Metadata &plusdo;
              </div>
            </div>
            <div class="form__element">
              <button type='submit' class="form__button form__button--blue">
                Update
              </button>
              <div @click='resetFavoriteForm' class="form__button form__button--orange">
                Reset</div>
              <div @click="deleteFavorite" class="form__button form__button--red">
                Delete</div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <notifications group="updateSuccess" position="bottom right"/>
  </div>
</template>


<script>
import Multiselect from 'vue-multiselect';
import FavoriteInfo from '@/components/FavoriteInfo.vue';
import AuditLogInfo from '@/components/AuditLogInfo.vue';
import TheNavBar from '@/components/TheNavBar.vue';

import { fetchFavorite } from '@/api';
import { EventBus } from '../utils';

import metadata from '@/mixins/metadata';


export default {
  name: 'Category',
  components: {
    Multiselect,
    FavoriteInfo,
    AuditLogInfo,
    TheNavBar,
  },
  data() {
    return {
      showForm: false,
      showFormHelper: '',
      favorite: {},
      auditlogs: {},
      newFavorite: {
        title: '',
        description: '',
        rank: null,
      },
    };
  },
  mixins: [metadata],
  created() {
    this.loadData();
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
  },
  methods: {
    loadData() {
      return fetchFavorite(
        this.$store.getters.jwt,
        this.$route.params.categoryName,
        this.$route.params.rank,
      )
        .then((response) => {
          this.favorite = response.data.favorite;
          this.auditlogs = response.data.auditlogs;
          this.metadata = JSON.parse(this.favorite.meta);
        })
        .catch((error) => {
          console.log(error.response.data);
        });
    },
    resetFavoriteForm() {
      this.newFavorite = {
        title: '',
        description: '',
        category: null,
        rank: null,
        metadata: null,
      };
    },
    editFavorite() {
      const metadata = this.metadata.filter(
        meta => meta.metadataKey && meta.metadataValue,
      );
      metadata.forEach((meta) => {
        const re = /\s*(?:;|$)\s*/;
        if (meta.metadataType === 'Enum') {
          meta.metadataValue = meta.metadataValue.split(re);
        }
      });
      const favorite = {
        title: this.favorite.title,
        new_title: this.newFavorite.title || this.favorite.title,
        new_rank: this.newFavorite.rank || this.favorite.rank,
        new_description:
            this.newFavorite.description || this.favorite.description,
        meta: JSON.stringify(metadata),
        category: this.favorite.category,
      };
      this.$store.dispatch('editFavorite', favorite)
        .then(() => {
          if (this.newFavorite.rank) {
            EventBus.$emit('updateFavoriteSuccess',
              `Successfully updated favorite ${this.favorite.title}`);
            this.$router.replace({
              name: 'Category',
              params: {
                categoryName: this.favorite.category,
                rank: this.newFavorite.rank,
              },
            });
          } else {
            this.loadData();
            EventBus.$emit('updateSuccess',
              `Successfully updated favorite ${this.favorite.title}`);
          }
        });
    },
    deleteFavorite() {
      this.$store.dispatch('removeFavorite',
        { title: this.favorite.title, category: this.favorite.category })
        .then(() => {
          this.$router.replace({
            name: 'Categories',
            params: {
              categoryName: this.favorite.category,
            },
          });
          this.$router.go(0);
        });
    },
    toggleForm() {
      this.showForm = !this.showForm;
      this.showFormHelper = this.showForm ? 'Cancel' : 'edit Favorite';
    },
  },
  mounted() {
    EventBus.$on('updateSuccess', (msg) => {
      this.$notify({
        group: 'updateSuccess',
        type: 'success',
        text: msg,
      });
    });
  },
};
</script>


<style lang="scss">
  .auditlog__list {
    width: 100%;
  }
  .auditlog__list .auditlog__item {
    flex: 1;
    justify-self: stretch;
    width: 100%
  }
</style>
