<template>
  <div class="container--home">
    <div class="content">
      <transition name="slide-fade-left" mode="out-in">
        <div :key='selectedForm' class="content--1">
          <h2 class="large-text">{{selectedOperation.welcome}}</h2>
          <p class="small-text">{{selectedOperation.msg}}</p>
          <button @click='swapOperation()' class="btn btn--transparent">
            {{selectedOperation.operation}}
          </button>
        </div>
      </transition>
      <transition name="slide-fade-right" mode="out-in">
        <div :key='selectedForm' class="content--2">
          <h2 class="large-text content--2--title">{{selectedOperation.title}}</h2>
          <component :is="selectedForm"></component>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import signUp from '@/components/SignUp.vue';
import signIn from '@/components/SignIn.vue';

export default {
  name: 'home',
  components: {
    signUp,
    signIn,
  },
  data() {
    return {
      operations: {
        welcome: ['Hello friend!', 'Welcome back!'],
        msg: ['Create an account and start managing those things you like with us',
          'Sign in to keep managing your favorite things  with us'],
        operation: ['signIn', 'signUp'],
        current_op_title: ['Log in', 'Create account'],
      },
      selectedForm: 'signUp',
      userInfo: {},
    };
  },
  computed: {
    selectedOperation() {
      const index = this.operations.operation.indexOf(this.selectedForm);
      return {
        welcome: this.operations.welcome[index],
        msg: this.operations.msg[index],
        operation: index >= 1 ? 'Sign In' : 'sign up',
        title: this.operations.current_op_title[index],
      };
    },
  },
  methods: {
    swapOperation() {
      this.selectedForm = this.selectedForm === 'signUp' ? 'signIn' : 'signUp';
    },
  },
};
</script>

<style lang="scss" scoped>
  .container--home {
    @include flex-center;
    background-color: rgba($color-primary, .1);

    min-height: 100vh;
  }
  .content {
    width: 110rem;
    height: 65rem;

    box-shadow: 0 1.5rem 3rem rgba($color-black, .15);
    border-radius: 5px;

    display: flex;
    overflow: hidden;

    &--1,
    &--2 {
      @include flex-center;
      flex-direction: column;
      height: 100%;
      padding: 0 4rem;
      text-align: center;
    }

    &--1 {
      flex: 4;
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.7),
          rgba($color-green, 0.7)),
      url('../assets/thing.png');
      background-size: cover;
      color: white;
    }
    &--2 {
      flex: 6;
      background-color: $color-white;
      &--title {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-green);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        margin-bottom: 1.3rem;
      }
    }
    @include respond(phone) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .content--1 .large-text{
    margin-bottom: 2rem;
  }
  .content--1 .small-text {
    margin-bottom: 3rem;
  }

  .slide-fade-right-enter-active {
    transition: all 1s ease;
  }
  .slide-fade-right-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-right-enter, .slide-fade-right-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .slide-fade-left-enter-active {
    transition: all 1s ease;
  }
  .slide-fade-left-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-left-enter, .slide-fade-left-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(-10px);
    opacity: 0;
  }
</style>
